In [1]:
######################################################################################
# Reading Data
######################################################################################

In [2]:
# import packages and data
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("../0000_Data/01-raw/01-Ad.csv")

In [3]:
# Reading DataFrame
df.head()   # First 5 rows

   UserID  Gender Type  Age  EstimatedSalary  Purchased
0       1    Male    B   24          2800000          0
1       2    Male    A   48          3000000          0
2       3  Female    B   34          7800000          0
3       4  Female    B   36         10700000          0
4       5    Male    D   24         14700000          0

In [4]:
# Reading DataFrame
df.shape   # Shape of DataFrame (rows, columns)

(400, 6)

In [5]:
# Reading DataFrame
df.info()   # Info about DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UserID           400 non-null    int64
 1   Gender           400 non-null    object
 2   Type             400 non-null    object
 3   Age              400 non-null    int64
 4   EstimatedSalary  400 non-null    int64
 5   Purchased        400 non-null    int64
dtypes: int64(4), object(2)
memory usage: 18.9+ KB

In [6]:
# Define x and y
x = df.iloc[:, 3:5].values  # Features
y = df.iloc[:,-1].values   # Target variable

# ==============================================================================
# Concept: Converting DataFrame to NumPy Array (.values)
# ==============================================================================
# Action: Removes column headers and index labels, keeping only the raw data.
#
# Reason:
# Machine Learning models (like Scikit-learn algorithms) work with numerical
# matrices, not structured tables. They require the input to be in NumPy array 
# format for efficient mathematical operations.
# ==============================================================================